*/__pycache__
__pycache__/*
*.pyc
workplace/caption_files_union/gcc11train.caption.txt
workplace/caption_files_union/gcc11val.caption.txt
workplace/caption_files_union/msrvtt10k.caption.txt
workplace/caption_files_union/msvdtest.caption.txt
workplace/caption_files_union/msvdtrain.caption.txt
workplace/caption_files_union/msvdval.caption.txt
workplace/caption_files_union/tgif.caption.txt
workplace/caption_files_union/tv16_tv17_tv18.avs.txt
workplace/caption_files_union/tv19.avs.txt
workplace/caption_files_union/tv20.avs.txt
workplace/caption_files_union/VATEX_fulltest.caption.txt
workplace/caption_files_union/VATEX_fulltrain.caption.txt
workplace/caption_files_union/VATEX_fullval.caption.txt
build_union_vocab.py
.vscode/settings.json
*.py.swp
